In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

In [2]:
dataset = pd.read_csv("Ads_CTR_Optimisation.csv")
dataset.head(10)

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0
5     1     1     0     0     0     0     0     0     0      0
6     0     0     0     1     0     0     0     0     0      0
7     1     1     0     0     1     0     0     0     0      0
8     0     0     0     0     0     0     0     0     0      0
9     0     0     1     0     0     0     0     0     0      0

In [3]:
dataset.shape

(10000, 10)

## Implementation of UCB

In [17]:
N = dataset.shape[0]
d = dataset.shape[1]
ads_selected = []
number_of_selections = [0] = d

10